<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Weather for zip code <%= zipCode %></p>
    <% if(data) { %>
    <p>Overall Weather : <%= data.weatherText %></p>
    <p>Temperature (in celcius): <%= data.temperature %></p>
    <p> Wind (in kph): <%= data.windSpeed %></p>
    <% } %>
  </body>
</html>
